{% extends "base.html" %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
{% block title %}NewsIndex{% endblock %}
{% block content %}
<div class="container align-items-center mx-auto">
{%for post in page.get_children%}
<a href="{%pageurl post%}" class="text-decoration-none text-dark">
<div class="my-3 border border-2 p-3">
   <span>{%image post.cover min-100x100 %}</span><span> {{post.title}}</span>
</div>
</a>
{%endfor%}
</div>
{% for tag in page.tags.all %}
    {{tag}}
{% endfor %}
{% endblock %}